Progetto_api
Progetto_api.dSYM/Contents/Resources/DWARF/Progetto_api
.vscode
Progetto_api
.vscode/tasks.json
.vscode/launch.json
.vscode/c_cpp_properties.json

input.txt
output.txt
Progetto_api
test/archivio_test_aperti/open_1.output.txt
test/archivio_test_aperti/open_1.txt
test/archivio_test_aperti/open_2.output.txt
test/archivio_test_aperti/open_2.txt
test/archivio_test_aperti/open_3.output.txt
test/archivio_test_aperti/open_3.txt
test/archivio_test_aperti/open_4.output.txt
test/archivio_test_aperti/open_4.txt
test/archivio_test_aperti/open_5.output.txt
test/archivio_test_aperti/open_5.txt
test/archivio_test_aperti/open_6.output.txt
test/archivio_test_aperti/open_6.txt
test/archivio_test_aperti/open_7.output.txt
test/archivio_test_aperti/open_7.txt
test/archivio_test_aperti/open_8.output.txt
test/archivio_test_aperti/open_8.txt
test/archivio_test_aperti/open_9.output.txt
test/archivio_test_aperti/open_9.txt
test/archivio_test_aperti/open_10.output.txt
test/archivio_test_aperti/open_10.txt
test/archivio_test_aperti/open_11.output.txt
test/archivio_test_aperti/open_11.txt
test/archivio_test_aperti/open_12.output.txt
test/archivio_test_aperti/open_12.txt
test/archivio_test_aperti/open_13.output.txt
test/archivio_test_aperti/open_13.txt
test/archivio_test_aperti/open_14.output.txt
test/archivio_test_aperti/open_14.txt
test/archivio_test_aperti/open_15.output.txt
test/archivio_test_aperti/open_15.txt
test/archivio_test_aperti/open_16.output.txt
test/archivio_test_aperti/open_16.txt
test/archivio_test_aperti/open_17.output.txt
test/archivio_test_aperti/open_17.txt
test/archivio_test_aperti/open_18.output.txt
test/archivio_test_aperti/open_18.txt
test/archivio_test_aperti/open_19.output.txt
test/archivio_test_aperti/open_19.txt
test/archivio_test_aperti/open_20.output.txt
test/archivio_test_aperti/open_20.txt
test/archivio_test_aperti/open_21.output.txt
test/archivio_test_aperti/open_21.txt
test/archivio_test_aperti/open_22.output.txt
test/archivio_test_aperti/open_22.txt
test/archivio_test_aperti/open_23.output.txt
test/archivio_test_aperti/open_23.txt
test/archivio_test_aperti/open_24.output.txt
test/archivio_test_aperti/open_24.txt
test/archivio_test_aperti/open_25.output.txt
test/archivio_test_aperti/open_25.txt
test/archivio_test_aperti/open_26.output.txt
test/archivio_test_aperti/open_26.txt
test/archivio_test_aperti/open_27.output.txt
test/archivio_test_aperti/open_27.txt
test/archivio_test_aperti/open_28.output.txt
test/archivio_test_aperti/open_28.txt
test/archivio_test_aperti/open_29.output.txt
test/archivio_test_aperti/open_29.txt
test/archivio_test_aperti/open_30.output.txt
test/archivio_test_aperti/open_30.txt
test/archivio_test_aperti/open_31.output.txt
test/archivio_test_aperti/open_31.txt
test/archivio_test_aperti/open_32.output.txt
test/archivio_test_aperti/open_32.txt
test/archivio_test_aperti/open_33.output.txt
test/archivio_test_aperti/open_33.txt
test/archivio_test_aperti/open_34.output.txt
test/archivio_test_aperti/open_34.txt
test/archivio_test_aperti/open_35.output.txt
test/archivio_test_aperti/open_35.txt
test/archivio_test_aperti/open_36.output.txt
test/archivio_test_aperti/open_36.txt
test/archivio_test_aperti/open_37.output.txt
test/archivio_test_aperti/open_37.txt
test/archivio_test_aperti/open_38.output.txt
test/archivio_test_aperti/open_38.txt
test/archivio_test_aperti/open_39.output.txt
test/archivio_test_aperti/open_39.txt
test/archivio_test_aperti/open_40.output.txt
test/archivio_test_aperti/open_40.txt
test/archivio_test_aperti/open_41.output.txt
test/archivio_test_aperti/open_41.txt
test/archivio_test_aperti/open_42.output.txt
test/archivio_test_aperti/open_42.txt
test/archivio_test_aperti/open_43.output.txt
test/archivio_test_aperti/open_43.txt
test/archivio_test_aperti/open_44.output.txt
test/archivio_test_aperti/open_44.txt
test/archivio_test_aperti/open_45.output.txt
test/archivio_test_aperti/open_45.txt
test/archivio_test_aperti/open_46.output.txt
test/archivio_test_aperti/open_46.txt
test/archivio_test_aperti/open_47.output.txt
test/archivio_test_aperti/open_47.txt
test/archivio_test_aperti/open_48.output.txt
test/archivio_test_aperti/open_48.txt
test/archivio_test_aperti/open_49.output.txt
test/archivio_test_aperti/open_49.txt
test/archivio_test_aperti/open_50.output.txt
test/archivio_test_aperti/open_50.txt
test/archivio_test_aperti/open_51.output.txt
test/archivio_test_aperti/open_51.txt
test/archivio_test_aperti/open_52.output.txt
test/archivio_test_aperti/open_52.txt
test/archivio_test_aperti/open_53.output.txt
test/archivio_test_aperti/open_53.txt
test/archivio_test_aperti/open_54.output.txt
test/archivio_test_aperti/open_54.txt
test/archivio_test_aperti/open_55.output.txt
test/archivio_test_aperti/open_55.txt
test/archivio_test_aperti/open_56.output.txt
test/archivio_test_aperti/open_56.txt
test/archivio_test_aperti/open_57.output.txt
test/archivio_test_aperti/open_57.txt
test/archivio_test_aperti/open_58.output.txt
test/archivio_test_aperti/open_58.txt
test/archivio_test_aperti/open_59.output.txt
test/archivio_test_aperti/open_59.txt
test/archivio_test_aperti/open_60.output.txt
test/archivio_test_aperti/open_60.txt
test/archivio_test_aperti/open_61.output.txt
test/archivio_test_aperti/open_61.txt
test/archivio_test_aperti/open_62.output.txt
test/archivio_test_aperti/open_62.txt
test/archivio_test_aperti/open_63.output.txt
test/archivio_test_aperti/open_63.txt
test/archivio_test_aperti/open_64.output.txt
test/archivio_test_aperti/open_64.txt
test/archivio_test_aperti/open_65.output.txt
test/archivio_test_aperti/open_65.txt
test/archivio_test_aperti/open_66.output.txt
test/archivio_test_aperti/open_66.txt
test/archivio_test_aperti/open_67.output.txt
test/archivio_test_aperti/open_67.txt
test/archivio_test_aperti/open_68.output.txt
test/archivio_test_aperti/open_68.txt
test/archivio_test_aperti/open_69.output.txt
test/archivio_test_aperti/open_69.txt
test/archivio_test_aperti/open_70.output.txt
test/archivio_test_aperti/open_70.txt
test/archivio_test_aperti/open_71.output.txt
test/archivio_test_aperti/open_71.txt
test/archivio_test_aperti/open_72.output.txt
test/archivio_test_aperti/open_72.txt
test/archivio_test_aperti/open_73.output.txt
test/archivio_test_aperti/open_73.txt
test/archivio_test_aperti/open_74.output.txt
test/archivio_test_aperti/open_74.txt
test/archivio_test_aperti/open_75.output.txt
test/archivio_test_aperti/open_75.txt
test/archivio_test_aperti/open_76.output.txt
test/archivio_test_aperti/open_76.txt
test/archivio_test_aperti/open_77.output.txt
test/archivio_test_aperti/open_77.txt
test/archivio_test_aperti/open_78.output.txt
test/archivio_test_aperti/open_78.txt
test/archivio_test_aperti/open_79.output.txt
test/archivio_test_aperti/open_79.txt
test/archivio_test_aperti/open_80.output.txt
test/archivio_test_aperti/open_80.txt
test/archivio_test_aperti/open_81.output.txt
test/archivio_test_aperti/open_81.txt
test/archivio_test_aperti/open_82.output.txt
test/archivio_test_aperti/open_82.txt
test/archivio_test_aperti/open_83.output.txt
test/archivio_test_aperti/open_83.txt
test/archivio_test_aperti/open_84.output.txt
test/archivio_test_aperti/open_84.txt
test/archivio_test_aperti/open_85.output.txt
test/archivio_test_aperti/open_85.txt
test/archivio_test_aperti/open_86.output.txt
test/archivio_test_aperti/open_86.txt
test/archivio_test_aperti/open_87.output.txt
test/archivio_test_aperti/open_87.txt
test/archivio_test_aperti/open_88.output.txt
test/archivio_test_aperti/open_88.txt
test/archivio_test_aperti/open_89.output.txt
test/archivio_test_aperti/open_89.txt
test/archivio_test_aperti/open_90.output.txt
test/archivio_test_aperti/open_90.txt
test/archivio_test_aperti/open_91.output.txt
test/archivio_test_aperti/open_91.txt
test/archivio_test_aperti/open_92.output.txt
test/archivio_test_aperti/open_92.txt
test/archivio_test_aperti/open_93.output.txt
test/archivio_test_aperti/open_93.txt
test/archivio_test_aperti/open_94.output.txt
test/archivio_test_aperti/open_94.txt
test/archivio_test_aperti/open_95.output.txt
test/archivio_test_aperti/open_95.txt
test/archivio_test_aperti/open_96.output.txt
test/archivio_test_aperti/open_96.txt
test/archivio_test_aperti/open_97.output.txt
test/archivio_test_aperti/open_97.txt
test/archivio_test_aperti/open_98.output.txt
test/archivio_test_aperti/open_98.txt
test/archivio_test_aperti/open_99.output.txt
test/archivio_test_aperti/open_99.txt
test/archivio_test_aperti/open_100.output.txt
test/archivio_test_aperti/open_100.txt
test/archivio_test_aperti/open_101.output.txt
test/archivio_test_aperti/open_101.txt
test/archivio_test_aperti/open_102.output.txt
test/archivio_test_aperti/open_102.txt
test/archivio_test_aperti/open_103.output.txt
test/archivio_test_aperti/open_103.txt
test/archivio_test_aperti/open_104.output.txt
test/archivio_test_aperti/open_104.txt
test/archivio_test_aperti/open_105.output.txt
test/archivio_test_aperti/open_105.txt
test/archivio_test_aperti/open_106.output.txt
test/archivio_test_aperti/open_106.txt
test/archivio_test_aperti/open_107.output.txt
test/archivio_test_aperti/open_107.txt
test/archivio_test_aperti/open_108.output.txt
test/archivio_test_aperti/open_108.txt
test/archivio_test_aperti/open_109.output.txt
test/archivio_test_aperti/open_109.txt
test/archivio_test_aperti/open_110.output.txt
test/archivio_test_aperti/open_110.txt
test/archivio_test_aperti/open_111.output.txt
test/archivio_test_aperti/open_111.txt
test/test_gen_2023/README.txt
test/test_gen_2023/test_gen_2023_linux
test/test_gen_2023/test_gen_2023_macos
test/test_gen_2023/test_gen_2023_w64.exe
